<html>
	<head>
		
		<title>box</title>
		<style type="text/css">
			body{
				margin: 10 10;
				font-family: sans-serif;
			}
			#main{
	    		width: 50%;
	    		border: solid 1px;
	    		padding: 10 10;
			}
			#log{
				border: solid 1px;
				display: grid;
				width: 70%;
    			padding: 10 10;
    		}
			
		</style>
		</head>
	<body>
	<div id="main">
	<h1>Name: {{user.name}}</h1>
	<h3>Email: {{user.email}}</h3>
	<h3>Total Gold: {{user.gold}}</h3>
	</div>
	<p><a href="{% url 'dashboard' %}">Back</a></p>
		<div id='log'>
			<h4>Log</h4>
			{% for log in user.poster.all%}
				<p><span style="border-top: 1px solid silver; padding-top: 10px">{{log.content}} <span style="color: grey">{{log.created_at}}</span></span></p>
				{%endfor%}
		</div>
	
	
	</body>



</html>